<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-hibernate:war exploded">
    <output-path>$PROJECT_DIR$/src/main/webapp</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyFirstApp" />
        </element>
      </element>
    </root>
  </artifact>
</component>